@import "variables.scss";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Lato, sans-serif;
}

ul {
    list-style: none;
}

p {
    padding: $s-sm;
}

body>header {
    margin-top: $navHeight;
    //height: $navHeight;
    background-color: $brandPrimary;
    // display: flex;
    // align-items: center;
    color: white;
    font-size: 50px;
    padding: 10px;
    text-transform: uppercase;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: $navHeight;
    background-color: white;
    border-bottom: 2px solid $brandPrimary;
    img {
        height: 30px;
        padding: $s-xs;
        margin-top: $s-xs;
    }
}

.dropdown {
    margin: 0 $s-xs;
}

.menu {
    position: fixed;
    top: $navHeight;
    right: 0px;
    width: 200px;
    background-color: white;
    text-align: center;
    li {
        a {
            padding: $s-sm;
            display: block;
            width: 100%;
        }
    }
}

a {
    color: inherit;
}

.clickable, a {
    text-decoration: none;
    border: 3px solid transparent;
    cursor: pointer;
    &:hover {
        opacity: 0.5;
    }
}

.menulinks {
    overflow-y: hidden;
	max-height: 500px; /* approximate max height */
    
	transition-property: all;
	transition-duration: 1s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.hidden {
    max-height: 0;
}

main {
    padding: $s-md;
}

.articles {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: $s-md;
}

article {
    background-color: pink;
    img {
        width: 100%;
    }
    header {
        font-size: x-large;
        margin-bottom: $s-sm;
    }
    .content {
        padding: $s-md;
    }
    .time {
        margin-right: $s-sm;
    }
    small {
        display:block;
        margin: $s-sm 0;
    }
    a {
        margin-top: $s-sm;
        display: inline-block;
    }
}

@media only screen and (min-width: 700px) {
    nav {
        .menu {
            position: unset;
            flex-grow: 1;
        }
        
        ul {
            display: flex;
            //justify-content: space-evenly;
            a {
                width: unset !important;
            }
            &.hidden {
                display: flex;
                max-height: 45px;
            }
        }
        .dropdown {
            display: none;
        }
    }
    .menulinks {
        transition: none;
    }
    .articles {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
